@use './utils/variables.scss' as *;

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: $watch-size;
  width: $watch-size;
  border-radius: 50%;
  border: 1vmin dotted $border-color;

  &__center-dot {
    position: absolute;
    order: -1;
    align-self: center;
    width: $center-dot-size;
    height: $center-dot-size;
    border-radius: 50%;
    background-color: $center-dot-color;
  }

  @keyframes clock {
    0% {
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(180deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  &__seconds-hand {
    position: absolute;
    top: 2vmin;
    width: $seconds-hand-width;
    height: $seconds-hand-height;
    background-color: $seconds-hand-color;
    transform-origin: bottom center;
    animation-name: clock;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

  }

  &__minutes-hand {
    position: absolute;
    top: 20vmin;
    width: $minutes-hand-width;
    height: $minutes-hand-height;
    background-color: $minutes-hand-color;
    transform-origin: bottom center;
    rotate: 0deg;
    animation-name: clock;
    animation-duration: 3600s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

}
